@charset "UTF-8";
.disc {
    list-style: disc;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
}

.disc2 {
    list-style: disc;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
}

.disc2 li {
    padding-top: 12px;
}

.nums {
    list-style-type: decimal;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
}

.sangria {
    padding-left: 20px;
}

.pais {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #C40003;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tabla1 {
    padding-top: 0px;
    margin-left: 37px;
    margin-top: 21px;
    margin-bottom: 40px;
    width: 100%;
    border-width: 0px;
    grid-cell: 4px;
}
.titulo {
    text-transform: uppercase;
    padding-bottom: 12px;
    padding-left: 0px;
}
tbody tr .tabla1td {
    padding-bottom: 6px;
    padding-right: 12px;
}
.numeroactual {
    color: #FF4600;
    padding-top: 22px;
    font-size: 16px;
    text-transform: uppercase;
}
.blanco {
    color: #FFFFFF;
}
.destaca {
    color: #FC6721;
    font-weight: bold;
}
.disc li a {
}

a:hover,
a:focus {
    color: #FF4600 !important;
    text-decoration: none !important;
}
.nums li {
    padding-top: 12px;
}
.quform-required {
    color: #FF0000;
}
#logo {
    padding-bottom: 0px;
    margin-top: 13px;
    margin-left: -33px;
    margin-bottom: -17px;
}
#logo img {
    margin-bottom: -5px;
    margin-top: -52px;
    margin-left: -723px;
}
.discreto {
    font-weight: normal;
    font-size: 12px;
    color: #515151;
}


/* Table
====================================*/
table.standard-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    margin-top: 0px;
    margin-left: -16px;
}

table.standard-table th {
	border: 1px solid #dddddd;
	border-right: none;
	background-color: #fafafa;
	text-align: left;
	padding: 10px 15px;
	color: #404040;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
}

table.standard-table td:last-child {
	border-right: 1px solid #ddd;
}

table.standard-table th:last-child {
	border-right: 1px solid #ddd;
}

table.standard-table td {
	padding: 10px 15px;
	border: #e0e0e0 1px solid;
	border-top: none;
	border-right: none;
}
	
table.standard-table tr:hover td {background-color: #fafafa;}


#multi li a {
    padding-right: 47px;
    padding-left: 16px;
    font-weight: bold;
}
.col-md-6 .tabs-bg h3 {
    padding-top: 43px;
    font-size: 26px;
}
.space1 {
    padding-top: 29px;
    padding-bottom: 0px;
}
.space2 {
    padding-top: 36px;
}
code { 
    font-family: monospace;
}
